.feedback-create {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__form {
    width: 100%;
    max-width: 500px;
  }

  &__add-question {
    display: flex;
    justify-content: flex-end;
  }
}

.full-width {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.mr-24 {
  margin-right: 24px;
}
